[submodule "WooEngine/vendor/spdlog"]
	path = WooEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "WooEngine/vendor/GLFW"]
	path = WooEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
